
{{ form_errors(form) }}

<form action="{{ path('sylius_backend_creneau_create') }}" method="post" class="form-horizontal" novalidate>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
</form>

