<!DOCTYPE html>
{% set settings = sylius_settings_all('general') %}
<html>
    <head>
        <title>
            {% block title %}
                {{ settings.title|default('sylius.meta.frontend_title'|trans) }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <meta name="description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}">
        <meta name="keywords" content="{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}">

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

        {# stylesheets... #}
        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" type="text/css" />
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css" />
            {% stylesheets output='assets/compiled/frontend.css' filter='cssrewrite'
                'bundles/syliusweb/css/frontend.css'
                'bundles/syliusweb/css/blueimp-gallery.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}

            {% include "CmfCreateBundle::includecssfiles.html.twig" %}
        {% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
		<div class="top_bandeau">
			<div class="header">
				{% block header %}
					<div class="masthead pull-left">
					{% if app.user %}
						<ul class="nav nav-pills">
                			<li class="first">        
                				<a href="#">Bienvenue {{ app.user.username }}</a>
    						</li>
    					</ul>
    				{% endif %}
						{{ knp_menu_render('sylius.frontend.main', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
					</div>
					
					<div class="masthead pull-right cartmenu">
						{{ knp_menu_render('sylius.frontend.cart', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
					</div>
					{#
					<div class="locale-menu masthead pull-right">
						{{ knp_menu_render('sylius.frontend.locale', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
					</div>
					
					<div class="currency-menu masthead pull-right">
						{{ knp_menu_render('sylius.frontend.currency', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
					</div>
					#}
					<div class="clearfix"></div>
				{% endblock %}
			</div>
			
			<div class="header_logo">
				
				{% block header_logo %}
					<a href="{{ path('sylius_homepage') }}" title="{{ 'sylius.logo'|trans }}"><img src="{{ asset('bundles/syliusweb/img/logo.png') }}" class="swan" /></span></a>
				{% endblock %}
			</div>
			
			<div class="container" id="container_header">
							<nav id="myNavbar" class="navbar navbar-default" role="navigation">
						        <!-- Brand and toggle get grouped for better mobile display -->
						        <div class="container">
						            <div class="navbar-header">
						                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						                    <span class="sr-only">Toggle navigation</span>
						                    <span class="icon-bar"></span>
						                    <span class="icon-bar"></span>
						                    <span class="icon-bar"></span>
						                </button>
						                <a id="navbar-brand-id" class="navbar-brand glyphicon glyphicon-home" href="/"></a>
						            </div>
						            <!-- Collect the nav links, forms, and other content for toggling -->
						            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						                <ul id="mainMenu" class="nav navbar-nav">
						                    <li class="dropdown">
						                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ 'sylius.frontend.menu.main.rayons'|trans }} <b class="caret"></b></a>
						                        {{ knp_menu_render('sylius.frontend.taxonomies', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
						                    </li>
						                    <li class="dropdown">
						                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ 'sylius.frontend.menu.main.topic'|trans }} <b class="caret"></b></a>
						                        
						                        
							                    <ul class="dropdown-menu">
							                    {% for child in cmf_children(cmf_find('/cms/pages')) %}
							                        <li>
							                            <a href="{{ path(child) }}">{{ child.title|striptags }}</a>
							                        </li>
							                    {% endfor %}
							                    </ul>
						                    </li>
						                    <li class="dropdown">
						                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ 'sylius.frontend.menu.main.promotion'|trans }} <b class="caret"></b></a>
						                        {{ knp_menu_render('sylius.frontend.promotions', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
						                    </li>
						                </ul>
						                <ul class="nav navbar-nav navbar-right">
						                    <li>
						                    	{% render controller('sylius.controller.search:formAction', {'request':app.request}) %}
						                    </li>
						                </ul>
						            </div><!-- /.navbar-collapse -->
						        </div>
						    </nav>
			</div>
		</div>
		{% block centercontrainer %}
		
		{% endblock %}
        
        {# javascripts... #}
        {% block javascripts %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
        {% javascripts output='assets/compiled/frontend.js'
            'bundles/syliusweb/js/jquery.blueimp-gallery.min.js'
            'bundles/syliusweb/js/confirm-modal.js'
            'bundles/syliusweb/js/frontend.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
{# 
        {% render(controller(
            "cmf_create.jsloader.controller:includeJSFilesAction",
            {'_locale': app.request.locale, 'editor': 'hallo'}
        )) %}
#}
        {% endblock %}
    </body>
</html>