<div class="panel panel-warning">
  <div class="panel-heading">
    <h2 class="panel-title"><span class='glyphicon glyphicon-calendar'></span> {{ 'sylius.frontend.planning.title'|trans }}</h2>
  </div>
  <div class="panel-body">
    
  </div>
</div>